<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Pepo - About</title>
    <module href="/components/head.html"></module>
  </head>

  <body>
    <h1 class="has-text-align-left" id="pepo">Pepo</h1>
    <p>
      <em
        >Welcome to my personal website. I'm an entrepreneur and software
        developer focused on designing and building collaboration and
        coordination tools for communities on top of web3.</em
      >
    </p>
    <p>
      <em
        >I've been close to Ethereum since 2016, when I discovered "The Dao",
        and I'm familiar with different web3 technologies and the blockchain
        ecosystem.</em
      >
    </p>
    <p>
      <em
        >After a long period of hard work, experimentation and learning as an
        solo-entrepreneur, I'm now moving forward and actively looking to join
        an existing and experienced team where I can continue learning while
        making a difference.
      </em>
    </p>
    <p>
      <em
        >Find me at
        <a href="https://twitter.com/pepoospina" target="_blank">@pepoospina</a>
        on twitter or
        <a href="mailto:pepo.ospina@gmail.com">pepo.ospina@gmail.com</a></em
      >
    </p>
    <hr />
    <p>
      Here is a list of things I've built, starting with the most recent ones:
    </p>

    <h2>The Underscore Protocol (_Prtrcl)</h2>
    <p>
      _Prtcl started as a tool for collective content management inspired in GIT
      and became a generic protocol for building interoperable applications
      where content could be stored and forked on multiple platforms and by
      different users, including web3 DAOs.
    </p>
    <p>
      This work involved the development of different tools, some of which are
      listed below:
    </p>

    <h4>Intercreativity</h4>
    <p>
      A content-management application built on top of _Prtcl. Inspired in tools
      like Notion or Roam Research but built for interoperability and supporting
      forking and merging content from different platforms.
    </p>
    <p>
      We built two versions of this application: One running purely on web2
      technologies, and another where content was governed on Ethreum and stored
      on IPFS.
    </p>
    <p>
      <a
        href="https://www.notion.so/uprtcl/Intercreativity-689f6c877df04e04a9e100a5c5448523"
        target="_blank"
        >Product Design</a
      >
      -
      <a href="https://github.com/uprtcl/linked-thoughts" target="_blank"
        >Github</a
      >
    </p>

    The video below will give you an idea of what Intercreativity was.

    <p>
      <video
        controls
        src="https://collectiveone-t1.s3.us-east-2.amazonaws.com/Intercreativity-Personal-Site.webm"
      ></video>
    </p>

    <h4>js-uprtcl</h4>

    <p>
      A Typescript library to build _Prtcl-compatible applications. It was
      divided in different npm packages and included code for handling _Prtcl
      objects locally and storing them on multiple _Prtcl remotes
    </p>

    <p>
      Check this documentation site with some details about the architecture and
      features of js-uprtcl.
    </p>

    <p>
      <a
        href="https://www.notion.so/uprtcl/Intercreativity-689f6c877df04e04a9e100a5c5448523"
        target="_blank"
        >Documentation</a
      >
      -
      <a href="https://github.com/uprtcl/js-uprtcl" target="_blank">Github</a>
    </p>

    <h4>js-uprtcl-server</h4>

    <p>A NodeJS + DGraph backend to store and query linked _Prtcl objects.</p>
    <p>
      It stores linked and nested _Prtcl objects and exposes endpoints to
      efficiently query them.
    </p>

    <p>
      <a href="https://github.com/uprtcl/js-uprtcl-server" target="_blank"
        >Github</a
      >
    </p>

    <h4>eth-uprtcl</h4>
    <p>
      An Ethereum-based _Prtcl-remote to govern digital content on top of
      Ethereum and IPFS.
    </p>
    <p>
      It also includes a prototype for a naming system based on harberger taxes.
    </p>

    <p>
      <a href="https://github.com/uprtcl/js-uprtcl-server" target="_blank"
        >Github</a
      >
    </p>

    <h4>reasonable</h4>

    <p>
      An Ethereum-based infrastructure to support the organizations behind
      _Prtcl development. It includes an onchain enforced exit-to community
      scheme.
    </p>

    <p>
      <a
        href="https://www.notion.so/uprtcl/_Prtcl-Exit-to-Community-Model-is-now-live-8a0aab38125b47369ee4756a9e1fbdb5"
        target="_blank"
        >Summary</a
      >
      -
      <a href="https://github.com/uprtcl/reasonable" target="_blank">Github</a>
    </p>

    <h2><strong>CollectiveOne</strong></h2>

    <p>
      A tool for open and distributed collaboration. It was a web2 application
      for communities, included value tracking using community-specific tokens
      and a hybrid chat/content-board approach for holding conversations while
      curating common content.
    </p>

    The video below will give you an idea of what CollectiveOne was.

    <p>
      <video
        controls
        src="https://collectiveone-t1.s3.us-east-2.amazonaws.com/c1-pepo-site.webm"
      ></video>
    </p>

    <p>Aerospace Engineer</p>
    <p>
      Prior to being an entrepreneur, I worked as an Aerospace engineer. I
      designed and built automatic control software for atmospheric reentry
      vehicles and interplanetary probes.
    </p>
    <p>gn3c (Matlab) - Self-promoted internal tool.</p>
    <p>
      A built an internal tool for signal processing and visualization on top of
      Matlab called gn3c.
    </p>
    <p>
      Interplanetary probe attitude and trajectory correction control system
    </p>
    <p>Atmospheric Guided Reentry attidude control</p>
    <p>Atmospheric Guided Entry attitude and trajectory control</p>
    <p>Github</p>
    <p>Control System's PhD</p>
    <p>
      Spent 5 years next to
      <a href="https://www.gekant.it/">Prof. Enrico Canuto</a>, and dive deep
      into the essence of modelling real-life systems for the purpose of
      controlling them. Learned how either practice-only, or theory-only
      approaches are comfortable, and the real challenge lies in combining the
      two.
    </p>
    <p>
      Tactile Images Device - Built as the final project for my Electronic
      Engineering undergraduate studies.
    </p>

    <script src="bundle.js" defer async></script>
  </body>
</html>
