*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Open Sans", sans-serif;
  font-display: swap;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  background-color: $subtleBg;
  color: $defaultFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 4rem 2rem 2rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

video {
  width: 100%;
}

a {
  transition: 0.1s linear;

  &:hover {
    color: $primary;
  }
}

p {
  margin: 1.4rem 0;
  line-height: 1.4em;
}

hr {
  background-color: "#959595";
  color: "#959595";
}

h1,
h2,
h3,
h4,
h4 {
  color: rgb(56, 48, 133);
}
