@import "colors.scss";
@import "global.scss";

.avatar {
  width: 100px;
}

.tag-container {
  width: 100%;
  font-size: 0.8rem;
}

.tag {
  display: inline-block;
  background-color: rgb(50, 56, 87);
  color: #ced1e0;
  padding: 3px 16px;
  border-radius: 6px;
  margin: 3px 3px;
}
